.App{
    padding: 5%;
}
.list-item{
    display: flex;
    padding: 5px;
    justify-content: space-between;

}

ul{
    background: beige;
    border-radius: 2%;
    width: 300px;
}

.inside-app{
    display: flex;
    justify-content: space-around;
}
.head-sqad{
    text-align: center;
}